<div class="container">
  <div class="jumbotron">
    <h1>Rock the boat!</h1>
    <p>The best radio station ever</p>
  </div>
  <div class="container">
    <table class="table  table-hover table-condensed">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Song</th>
          <th>Album</th>
          <th>Released</th>
          <th>Genre</th>
          <th>Duration</th>
          <th>Play</th>
        </tr>
      </thead>

      <tbody>
        <% @songs.each do |song| %>
          <tr>
            <td><%= song.artist %></td>
            <td><%= song.title %></td> 
            <td><%= song.album %></td> 
            <td><%= song.release_year %></td> 
            <td><%= song.genre %></td> 
            <td><%= song.human_readable_duration %></td>
            <td>
              <audio controls preload="none">
                <source src="<%= song.track.url %>" type="audio/mpeg">
              </audio>
            </td>    
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="container" align="center">
      <%= will_paginate @songs, :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
</div>
<br>


